/* ========= 系统基本颜色 ========= */
/* 重置元素特性 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: "Microsoft Yahei", "微软雅黑", STXihei, "Meiryo UI", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "Hiragino Kaku Gothic Pro", "Arial Unicode MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #7b86a2;
}
blockquote,
body,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
input,
label,
li,
ol,
p,
select,
strong,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
dd,
dl,
dt,
li,
ul {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: Microsoft Yahei, w3;
  color: #303030;
}
img,
table,
td {
  border: 0;
}
table,
td,
tr {
  border-collapse: collapse;
  border-spacing: 0;
}
button:focus {
  outline: 0 !important;
}
a {
  color: #0080c6;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: none;
  color: #000000;
}
a:focus {
  outline: 0;
}
label {
  font-weight: normal;
}
/*
* 公用类
*/
.clearfix {
  _zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
  clear: both;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.x-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.y-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.inner {
  height: 100%;
}
.need,
.need-before:before,
.need-after:after {
  font-style: normal;
  content: "*";
  font-size: 12px;
  vertical-align: middle;
  color: #f00;
}
.need-before:before {
  padding-right: 2px;
}
.need-after:after {
  padding-left: 2px;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-top-10 {
  margin-top: 10px;
}
.m-right-10 {
  margin-right: 10px;
}
.m-bottom-10 {
  margin-bottom: 10px;
}
.m-left-10 {
  margin-left: 10px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-right-20 {
  margin-right: 20px;
}
.m-bottom-20 {
  margin-bottom: 20px;
}
.m-left-20 {
  margin-left: 20px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-top-10 {
  padding-top: 10px;
}
.p-right-10 {
  padding-right: 10px;
}
.p-bottom-10 {
  padding-bottom: 10px;
}
.p-left-10 {
  padding-left: 10px;
}
.p-top-20 {
  padding-top: 20px;
}
.p-right-20 {
  padding-right: 20px;
}
.p-bottom-20 {
  padding-bottom: 20px;
}
.p-left-20 {
  padding-left: 20px;
}
/* 字体图标 */
[class^="el-icon-m-"],
[class*="el-icon-m-"] {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}
[class^="el-icon-m-"].active,
[class*="el-icon-m-"].active {
  color: #0094da;
}
[v-cloak] {
  display: none;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.form-list {
  /* 左边说明文字，如用户名、开始时间*/
  padding: 20px;
  background: #fff;
}
.form-list .form-item,
.form-list > li {
  position: relative;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
}
.form-list .form-item .form-label,
.form-list > li .form-label,
.form-list .form-item > label,
.form-list > li > label {
  width: 80px;
  margin: 5px 5px 0 0;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  text-align: right;
}
.form-list .form-item .form-ctrl,
.form-list > li .form-ctrl,
.form-list .form-item > div,
.form-list > li > div {
  position: relative;
  width: calc(100% - 80px);
  color: #666;
}
.form-list .form-item input,
.form-list > li input,
.form-list .form-item select,
.form-list > li select,
.form-list .form-item textarea,
.form-list > li textarea {
  width: 100%;
}
.form-list.medium .form-item .form-label,
.form-list.medium > li .form-label,
.form-list.medium .form-item > label,
.form-list.medium > li > label {
  width: 110px;
}
.form-list.medium .form-item .form-ctrl,
.form-list.medium > li .form-ctrl {
  width: calc(100% - 110px);
}
.form-list.big .form-item .form-label,
.form-list.big > li .form-label,
.form-list.big .form-item > label,
.form-list.big > li > label {
  width: 140px;
}
.form-list.big .form-item .form-ctrl,
.form-list.big > li .form-ctrl {
  width: calc(100% - 140px);
}
.form-list.max .form-item .form-label,
.form-list.max > li .form-label,
.form-list.max .form-item > label,
.form-list.max > li > label {
  width: 200px;
}
.form-list.max .form-item .form-ctrl,
.form-list.max > li .form-ctrl {
  width: calc(100% - 200px);
}
/* 表格 */
.c-table {
  width: 100%;
  text-align: center;
}
.c-table td,
.c-table th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #ededed;
}
.c-table thead {
  width: inherit;
  background-color: #0094da;
}
.c-table thead th,
.c-table thead td {
  position: relative;
  height: 45px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #000;
}
.c-table tbody td {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  color: #333;
}
.c-table tbody tr {
  height: 45px;
}
.c-table tbody tr:nth-child(even) {
  background-color: #0094da;
}
.c-table.c-table-hover tbody tr:nth-child(even) {
  background-color: #0085cb;
}
.c-table.c-table-hover tbody tr:hover {
  background-color: #0085cb;
}
/*
* 选项卡
*/
.c-tabs {
  position: relative;
  height: 34px;
  margin: 0 0 20px;
  border-bottom: 1px solid #ededed;
  _zoom: 1;
}
.c-tabs:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
  clear: both;
}
.c-tabs h3 {
  position: relative;
  height: 34px;
  padding: 0 15px;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
  line-height: 34px;
}
.c-tabs h3:hover {
  color: #0094da;
  border-bottom: 3px solid #0094da;
}
.c-tabs li {
  float: left;
  background: none;
}
.c-tabs li.active h3 {
  color: #0094da;
  border-bottom: 3px solid #0094da;
}
.c-btn {
  padding: 6px 15px;
  border: none;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
.c-btn.c-default {
  background: none;
  color: #333;
  border: 1px solid #ccc;
}
.c-btn.c-default:hover {
  background: #f8f8f8;
  border-color: #ededed;
}
.c-btn.c-primary {
  background: #0094da;
}
.c-btn.c-primary:hover {
  background: #0080c6;
  border-color: #0080c6;
}
.c-btn.c-warning {
  background: #f47564;
}
.c-btn.c-warning:hover {
  background: #e06150;
  border-color: #e06150;
}
.c-btn.c-success {
  background: #5cb85c;
}
.c-btn.c-success:hover {
  background: #48a448;
  border-color: #48a448;
}
.c-btn.c-info {
  background: #5bc0de;
}
.c-btn.c-info:hover {
  background: #47acca;
  border-color: #47acca;
}
.c-btn.c-danger {
  background: #f00;
}
.c-btn.c-danger:hover {
  background: #eb0000;
  border-color: #eb0000;
}
.c-btn.c-ghost {
  color: #0094da;
  background: none;
  border: 1px solid #0094da;
  cursor: pointer;
}
.c-btn.c-ghost > i {
  font-size: 18px;
}
.c-btn.c-ghost:hover {
  color: #006cb2;
  border-color: #006cb2;
}
/* 弹窗 */
.popup-main {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.popup-main .popup-bg {
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=0.5);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.popup-main .popup-box {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 350px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.popup-main .popup-header {
  position: relative;
  padding: 8px 15px 10px 15px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #0094da;
}
.popup-main .popup-header i {
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 20px;
  cursor: pointer;
}
.popup-main .popup-content {
  background: #fff;
  padding: 10px 29px 25px 10px;
}
.popup-main .popup-footer {
  margin-top: 10px;
  text-align: right;
  overflow: hidden;
}
.popup-main .popup-footer button {
  margin-left: 10px;
}
/* 提示框 */
.toast {
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 30%;
  padding: 15px 20px;
  color: #fff;
  transform: translate(-50%, -30%);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateZ(0deg);
}
.toast span {
  display: none;
}
.toast .toast-bg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  border-radius: 5px;
  transition: opacity 2s;
}
.toast .toast-bg.opacity {
  opacity: 1;
}
.test-item1 {
  width: 100px;
  height: 100px;
}
.test-item2 {
  width: 100px;
  height: 100px;
}
.c-main {
  height: 100%;
  padding: 20px;
  background: #fff;
  overflow-y: auto;
}
.c-main .c-header {
  position: relative;
  height: 60px;
  padding: 0 20px;
  font-size: 18px;
  color: #919ab7;
  box-shadow: 0 5px 10px #e7e7e7;
}
.c-main .c-header > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.c-main .w100p {
  width: 100%;
}
.primary-color {
  color: #0094da;
}
.warn-color {
  color: #f47564;
}
.primary-bg {
  background: #0094da;
}
.warn-bg {
  background: #f47564;
}
.app-container .main-content[data-v-6fbf77ba] {
  padding: 5px 20px;
}
.el-header {
  border: 1px solid #ededed;
  padding: 14px 20px;
  background-color: #fff;
}
.el-form-item {
  margin-bottom: 0;
}
.el-input__inner {
  height: 26px;
  line-height: 26px;
}
.c-btn {
  font-size: 12px;
}
.tit-c-main {
  margin-top: 20px;
  font-size: 14px;
  color: #0094da;
}
.tit-c-main > span {
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 2px solid #0094da;
  display: inline-block;
}
.tit-c-main > a {
  display: inline-block;
}
.tit-c-main > a:hover {
  color: #79bee9;
}
.c-main {
  border: 1px solid #ededed;
}
.el-table thead tr th {
  background-color: #d9ebf5;
  color: #333;
}
.el-table tbody tr:hover td {
  background-color: #e1f3fc!important;
}
.a-click {
  color: #0094da;
}
.a-click:hover {
  color: #79bee9;
}
/*# sourceMappingURL=style.css.map */